/* Brand Colors: #8B0000 (red-accent)
        #000000 (black)
        #ffffff (white-background)
        #767675 (grey-font color)
        #B950D4 (purple-Feed_Your_Brain accent color)

Font: Montserrat- light, regular, medium, medium italic, bold, bold italic */

* {
  box-sizing: border-box;
}

header {
  background-color: #8b0000;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 3px 0px rgba(50, 50, 50, 0.5);
}

nav > ul {
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav > ul ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}

nav > ul > li > a {
  padding: 0 16px;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}

nav > ul > li li > a {
  padding: 0 16px;
  margin: 0;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 0.8em;
  position: relative;
}

nav > ul > li > a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #bf0000;
  text-decoration: none;
}

nav > ul > li > a:focus {
  color: #d85800;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #000000;
  text-decoration: none;
}

nav > ul > li li > a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav > ul > li li > a:hover {
  color: #bf0000;
  text-decoration: none;
}

nav > ul > li li > a:focus {
  color: #d85800;
  text-decoration: none;
}

nav > ul > li li > a:active {
  color: #000;
  text-decoration: none;
}

nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  margin-right: 50px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 20px 0 0;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 24px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: inline-block;
  text-align: right;
}

.navtoggle.responsive ul li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(250, 56, 50, 0.4);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  color: #767675;
}

main {
  padding-top: 56px;
}

h1, h2, h3, h4 {
  line-height: 1.8;
  font-weight: 700;
  color: #8b0000;
}

.logo {
  display: inline-block;
  width: 244px;
  margin: 0;
}

#hero {
  background-color: #8b0000;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
  width: 100%;
}

#hero .row {
  margin: 24px 0;
  display: inline-block;
  width: 100%;
}

#hero .container {
  width: 80%;
}

#about .row {
  margin: 24px 0;
  display: inline-block;
  width: 100%;
}

#skillstools .row {
  margin: 24px 0;
  display: inline-block;
  width: 100%;
}

#footer {
  text-align: center;
  position: relative;
}

#samplework .row {
  padding-bottom: 24px;
  border-bottom: 2px solid #4a4a4a;
}

#content {
  text-align: center;
  padding-top: 160px;
}

h1 {
  background-color: #8b0000;
  font-size: 2.25em;
  text-align: center;
}

h2 {
  font-size: 1.75em;
}

.page-index h3 {
  font-size: 1.5em;
  font-style: italic;
  color: #b950d4;
}

.page-about h2 {
  margin-top: 0;
}

.page-fyb h1 {
  font-size: 2.75em;
  text-align: center;
}

.page-fyb h2 {
  color: #b950d4;
}

.page-fyb .footer h2 {
  color: #8b0000;
}

.page-fyb h3 {
  color: #000;
  text-align: center;
}

.page-fyb h4 {
  text-align: center;
  color: #000;
}

img {
  width: 100%;
}

a {
  color: #8b0000;
  text-decoration: none;
}

a:hover {
  color: #bf0000;
  text-decoration: underline;
}

a:visited {
  color: #d85800;
}

a:active {
  color: #a64300;
}

.button {
  display: inline-block;
  background-color: #8b0000;
  color: #fff !important;
  font-weight: 700;
  padding: 12px;
  border-radius: 6px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #bf0000 !important;
  text-transform: uppercase;
  border: 3px solid #bf0000;
}

.button.contact:hover {
  background-color: #8b0000;
  color: #fff !important;
}

.container {
  max-width: 2800px;
  padding: 0 16px;
}

.row {
  margin: 24px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes color-change {
  from { fill: #f2ed41; }
  to { fill: #dd980e; }
}

#vector-transition {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(300px, 50px); }
}

.cloud-front {
  animation: 18s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media only screen and (max-width: 640px) {
  header {
    text-align: left;
  }

  nav {
    width: auto;
    text-align: right;
    margin-top: 4px;
    float: right;
  }

  nav > ul {
    text-align: right;
  }

  body {
    padding: 0;
  }

  .navtoggle.tap {
    position: relative;
    display: inline-block;
    text-align: right;
  }
}

@media only screen and (min-width: 641px) {
  header {
    text-align: left;
  }

  nav {
    float: right;
  }

  nav > ul {
    display: inline-block;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
    height: 40px;
  }

  nav > ul > li > ul {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 32px;
  }

  nav > ul > li:hover > ul {
    display: block;
    position: absolute;
  }

  .navtoggle.responsive li .icon {
    display: none;
  }

  .navtoggle li .icon {
    display: none;
  }

  .navtoggle.responsive li {
    display: inline-block;
    position: relative;
  }

  .navtoggle.responsive li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  body {
    margin-top: 110px;
    margin-left: 40px;
  }

  p {
    width: 80%;
    margin: auto;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  [class*="col-"] {
    float: left;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 24px 0 12px;
  }

  nav {
    float: right;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
    height: 40px;
  }

  nav > ul > li > ul {
    position: absolute;
    width: 200px;
    height: 32px;
  }

  nav > ul > li:hover > ul {
    display: block;
    position: absolute;
  }

  .navtoggle.responsive li .icon {
    display: none;
  }

  .navtoggle li .icon {
    display: none;
  }

  .navtoggle.responsive li {
    display: inline-block;
    position: relative;
  }

  .navtoggle.responsive li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  body {
    margin-top: 110px;
  }

  p {
    margin: auto;
    width: 80%;
  }

  .col-lg-5 {
    width: 38%;
    float: right;
  }

  .col-lg-7 {
    width: 62%;
    float: left;
  }

  [class*="col-"] {
    float: left;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 24px 0 12px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
    height: 40px;
  }

  nav > ul > li > ul {
    position: absolute;
    width: 200px;
    height: 32px;
  }

  nav > ul > li:hover > ul {
    display: block;
    position: absolute;
  }

  .navtoggle.responsive li .icon {
    display: none;
  }

  .navtoggle li .icon {
    display: none;
  }

  .navtoggle.responsive li {
    display: inline-block;
    position: relative;
  }

  .navtoggle.responsive li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  body {
    margin-top: 110px;
  }

  p {
    margin: auto;
    width: 80%;
  }

  .col-lg-5 {
    width: 38%;
    float: right;
  }

  .col-lg-7 {
    width: 62%;
    float: left;
  }

  [class*="col-"] {
    float: left;
  }
}
